<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

 <footer>

 <div class="container-fluid ">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  ">
        <p></p>
        <div class="col-3"></div>
        <div class="col-3 col-sm-2  text-center py-2 "><a id="cont" href="https://www.linkedin.com/in/pablo-ezequiel-abagnale/" target="_Blank"><i class="fab fa-linkedin"></i><br><h6>Linkedin</h6></a></div>
        <div class="col-3 col-sm-2  text-center py-2 "><a id="cont" href="https://github.com/pablo-abagnale" target="_Blank"><i  id="cont" class="fab fa-github-square"></i><h6>GitHub</h6></a></div>
        <div class="col-3 col-sm-2  text-center py-2 "><a id="cont" href="../index/#contacto" ><i  id="cont" class="fas fa-envelope-square"></i><br><h6>Mail</h6></a></div>
        <p></p>
    </div>
</div>


 </footer>
</html>