<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por tu contacto</title>
</head>
<body>
        {% include 'barra.html' %}

     <div id="divSaludo" >
     <p><br><br><br><br></p>
     <h1>Gracias por tu contacto</h1>
     <h2>Pronto estare respondiendo</h2>
     <p><br></p>
     <div id="like"><p><i class="far fa-thumbs-up"></i></p></div>
     </div>   
    
</body>
</html>